{% load static %}
<!---->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Chama App{% endblock %}</title>

    <!-- CDN link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />

    <!--custom theme-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body data-bs-theme="dark">
    <!-- NavBar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand me-4" href="#">Chama App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor04"
          aria-controls="navbarColor04"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor04">
          <ul class="navbar-nav me-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item me-4">
              <a href="{% url 'update_user' %}"
                ><i class="fa-solid fa-circle-user fa-lg"></i> Profile</a
              >
            </li>

            <li class="nav-item me-4">
              <a href="{% url 'dashboard' %}" class="active">
                <i class="fa-solid fa-house fa-lg"></i> Dashboard
              </a>
            </li>

            <li class="nav-item me-4">
              <a href="{% url 'transactions' %}">
                <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                Transactions
              </a>
            </li>

            <li class="nav-item me-4">
              <a href="{% url 'accounts' %}">
                <i class="fa-solid fa-dollar-sign fa-lg"></i> Accounts
              </a>
            </li>

            <li class="nav-item me-4">
              <a href="{% url 'members_home' %}">
                <i class="fa-solid fa-users fa-lg"></i> Members
              </a>
            </li>

            <li class="nav-item me-4">
              <a href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket fa-lg"></i> Logout
              </a>
            </li>

            {% else %}
            <li class="nav-item me-4">
              <a href="{% url 'login' %}">
                <i class="fa-solid fa-right-from-bracket fa-lg"></i> Login
              </a>
            </li>
            {% endif %}

            <li class="nav-item me-4">
              <a href="{% url 'about' %}">
                <i class="fa-solid fa-circle-info fa-lg"></i> About Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NavBar End -->

    <!-- main-content start -->
    <div class="main-content bg-body-tertiary">
      {% if messages %}
      <!---->
      {% for message in messages %}
      <div
        class="alert alert-warning alert-dismissible fade show messages"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
      <!---->
      {% endif %}
      <!---->
      {% block content %}
      <!---->
      {% endblock %}
    </div>
    <!-- main-content end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
