{% extends "app/base.html" %}
<!---->
{% load static %}
<!---->
{% block title %}Contact Support{% endblock %}
<!---->
{% block content %}
<div class="container-fluid mb-5">
  <h2>Contact Support</h2>
  <p class="text-muted">
    We’re here to help you with any issues, questions, or feedback you may have
    about ChamaApp.
  </p>

  <div class="row justify-content-center contact-section">
    <div class="col-md-6">
      <div class="text-center mt-4">
        <p class="text-muted">You can also reach us directly:</p>
        <div class="email-wrapper flex">
          <div class="email">
            <p><i class="fa-solid fa-envelope fa-lg"></i> EMAIL</p>
            <p>support@chamaapp.com</p>
          </div>
        </div>
        <div class="phone-wrapper flex">
          <div class="phone">
            <p><i class="fa-solid fa-phone fa-lg"></i> PHONE</p>
            <p>+254 757 379 531</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      {% if messages %}
      <!---->
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
      <!---->
      {% endif %}

      <div class="card shadow-sm">
        <div class="card-body">
          <form method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-3">{{ form.name.label_tag }} {{ form.name }}</div>
            <div class="mb-3">{{ form.email.label_tag }} {{ form.email }}</div>
            <div class="mb-3">
              {{ form.subject.label_tag }} {{ form.subject }}
            </div>
            <div class="mb-3">
              {{ form.message.label_tag }} {{ form.message }}
            </div>
            <button type="submit" class="btn btn-success w-100">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
