{% extends "app/base.html" %}
<!---->
{% block title %}Reset Password{% endblock %}
<!---->
{% block content %}
<div class="top-cover">
  <div class="bg-overlay">
    <div class="container">
      <div class="reset_pass_container">
        <div class="signup_title">
          <span>Reset Password</span>
        </div>
        <form method="post">
          {% csrf_token %}
          <!---->
          <div class="input_wrapper">
            <input
              type="email"
              id="email"
              name="email"
              class="input_field"
              required
            />
            <label for="email" class="label">Email</label>
            <i class="fa-regular fa-envelope icon"></i>
          </div>
          <div class="input_wrapper">
            <button type="submit" class="input-submit">Send Reset Link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
