{% extends "app/base.html" %}
<!---->
{% load widget_tweaks %}
<!---->
{% block title %}Set New Password{% endblock %}
<!---->
{% block content %}
<div class="top-cover">
  <div class="bg-overlay">
    <div class="container">
      <div class="signup_container">
        <div class="signup_title">
          <span>New Password</span>
        </div>
        <form method="post">
          {% csrf_token %}
          <!---->
          <div class="input_wrapper">
            {{ form.new_password1|add_class:"input_field" }}
            <label for="{{ form.new_password1.id_for_label }}" class="label"
              >New Password</label
            >
            {{ form.new_password1.errors }}
          </div>

          <div class="input_wrapper">
            {{ form.new_password2|add_class:"input_field" }}
            <label for="{{ form.new_password2.id_for_label }}" class="label"
              >Confirm Password</label
            >
            {{ form.new_password2.errors }}
          </div>
          <div class="input_wrapper">
            <button type="submit" class="input-submit">Password Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
